* { 
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;  
    background-color: #f5F5F5;
}
.todo-container{
    
    text-align: center;
    width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow:  0 0 10px rgba(102, 4, 4, 0.1);
    border-radius: 8px;
}
h1{
    font-size: 74px;
    margin-bottom: 30px;
}
input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button{
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
#todo-list button {
    background-color: #ff4d4d; /* rouge clair */
    border: none;
    color: white;               /* texte blanc */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
   
}
ul {
    list-style: 0;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  8px 0;
    border-bottom: 1px solid #ddd;
}
li:last-child{
    border-bottom: none;
}