* { 
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;  
    background-color: #f5F5F5;
}
.todo-container{
    
    text-align: center;
    width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow:  0 0 10px rgba(102, 4, 4, 0.1);
    border-radius: 8px;
}
h1{
    font-size: 24px;
    margin-bottom: 30px;
}
input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button{
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}